.container {
  height: 100dvh;
  width: 100dvw;
  align-items: center;
  overflow-y: auto;
}

.content {
  width: 700px;
  gap: 20px;
  padding: 30px 0;

  @media only screen and (max-width: 768px) {
    height: 100dvh;
    width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 10px;
  }
}
